* {
    box-sizing: border-box;
    color: #F2F2F2
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #19A1AE;
    padding: 0;
    margin: 0;
}

.card {
    box-shadow: 0 50px 100px -20px rgba(8,70,94, 50%);
    overflow: hidden;
    height: 374px;
    width: 350px;
    background-color: white;
    align-content: center;
    position: absolute;
    right: 545px;
    bottom: 173px;
    border-radius: 15px;
    z-index: 10;
}

img {
    border-radius: 50%;
    border: 5px solid white;
    top: 92px;
    right: 127px;
    position: absolute;
}

.circle-1 {
    position: absolute;
    top: 0;
    left: 0;
}

.age {
    font-size: 18px;
    font-weight: normal;
    color: #6B7082;
}

.circle-2 {
    position: absolute;
    right: 0;
    bottom: 0;
}

.h2-1 {
    margin-top: 0;
    margin-bottom: 8px;
}

h2 {
    font-family: Kumbh sans, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #2E3349;
}

hr {
    margin: 0;
    border-top: 1px solid #E8E9EC;
    border-bottom: 0;
}

p {
    font-family: Kumbh sans, sans-serif;
    font-size: 14px;
    text-align: center;
    color: #6B7082;
    margin-top: 8px;
    margin-bottom: 28px;
    font-weight: normal;
}

.middle-text {
    margin-top: 68px;
}

.bottom {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#h2-followers, #h2-likes, #h2-photos {
    margin-bottom: 5px;
    margin-top: 24px;
}

#followers, #likes, #photos {
    margin-top: 5px;
    font-size: 10px;
    margin-bottom: 0;
}
